##################################################
# ROS2 build system
##################################################

build/
install/
log/

##################################################
# Colcon cache
##################################################

.colcon/
.colcon_install_layout

##################################################
# ROS temporary
##################################################

*.db3
*.mcap
*.bag
*.bag.active

##################################################
# Python
##################################################

__pycache__/
*.pyc
*.pyo
*.pyd

##################################################
# Linux
##################################################

*~
*.swp
*.swo

##################################################
# Mac
##################################################

.DS_Store

##################################################
# VSCode
##################################################

.vscode/

##################################################
# JetBrains
##################################################

.idea/

##################################################
# Docker
##################################################

# Docker build cache
.docker/

# docker compose override
docker-compose.override.yml

# container logs
*.log

##################################################
# Docker runtime files
##################################################

docker-data/
docker-cache/

##################################################
# Docker images (IMPORTANT)
##################################################

*.tar

##################################################
# Environment variables
##################################################

.env
.env.local

##################################################
# AWS
##################################################

.aws/

##################################################
# SSH keys
##################################################

*.pem
*.key

##################################################
# System
##################################################

.cache/
tmp/
temp/

##################################################
# Foxglove
##################################################

*.foxe

##################################################
# Gazebo
##################################################

.gazebo/
