services:

  ros_mine:

    # =============================
    # 1. 构建 Docker 镜像
    # =============================
    build:

      # build context 是项目根目录
      # Docker 可以访问 src 文件夹
      context: ..

      # Dockerfile 路径
      dockerfile: docker/Dockerfile


    # 镜像名称
    image: mine_project_image:latest


    # 容器名称
    container_name: mine_ws_container


    # =============================
    # 2. 挂载 src（本地开发用）
    # =============================
    volumes:

      # 把本地 src 挂载进容器
      #
      # 本地开发：
      #    修改代码立即生效
      #
      # AWS：
      #    不使用 volumes
      #
      - ../src:/mine_ws/src



    # =============================
    # 3. 使用主机网络
    # =============================
    network_mode: host
    environment:
      - ROS_DOMAIN_ID=30
      - RMW_IMPLEMENTATION=rmw_cyclonedds_cpp
    # ROS2 DDS 通信必须
    ipc: host



    # =============================
    # 4. 允许交互
    # =============================
    tty: true

    stdin_open: true



    # =============================
    # 5. 工作目录
    # =============================
    working_dir: /mine_ws



    # =============================
    # 6. 容器启动时执行的命令
    # =============================
    command: >

      bash -c "

        # Step 1
        # 加载 ROS2 环境
        # 否则 colcon / ros2 无法使用

        source /opt/ros/humble/setup.bash &&



        # Step 2

        colcon build --symlink-install &&



        # Step 3
        # 加载你自己的 workspace

        source /mine_ws/install/setup.bash &&



        # Step 4
        # 运行 ROS2 节点

        echo '==== Starting talker ====' &&

        ros2 run cpp_test talker

        # 防止容器退出
        exec bash

      "